* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0eedd;
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(to right, grey, teal, teal, grey);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: calc(10px + 2vmin);
}

img {
    width: min(100px, 10vw);
    height: min(100px, 10vh);
    border-radius: 50%;
    opacity: 0.9;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 30px white;
}

form {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box; 
}

form:hover {
    box-shadow: -4px -4px 10px red,
                 4px 4px 10px rgb(205, 7, 113);
}

form fieldset + fieldset {
    margin-top: 2vh;
}

fieldset {
    display: flex;
    justify-content: space-around;
    border: none;
}

label {
    margin: 15px 20px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;    
}

.label {
    visibility: hidden;
    display: block;
    text-align: center;
    background-color: darkcyan;
    padding: 5px;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(16px + 0.2vmin);
    border: 1px solid transparent;
    border-bottom: 3px solid grey;
    background-color: transparent;
    box-sizing: border-box;
    height: 50px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input::-webkit-input-placeholder {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    font-size: calc(10px + 1vmin);
}

input::-moz-placeholder {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    font-size: calc(10px + 1vmin);
}

input:-ms-input-placeholder {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    font-size: calc(10px + 1vmin);
}

input::-ms-input-placeholder {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    font-size: calc(10px + 1vmin);
}

input::placeholder {
    color: #fff;
    text-align: center;
    opacity: 0.7;
    font-size: calc(10px + 1vmin);
}

input:invalid {
    border: none;
    border-bottom: 3px solid darkgrey;
}

input:focus:invalid {
    border: 3px solid red;
}

input:valid {
    border-bottom: 3px solid lime;
}

input:focus {
    border: 3px solid deepskyblue;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px pink;
}

button {
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin: auto;
    font-size: 1em;
    margin-top: 20px;
    background-color: rgb(232, 13, 13);
    color: white;
    font-weight: 600;
}
